button{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 232,28);
    border-radius: 5px;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 1px 1px 2px blueviolet;
    text-align: center;
    text-transform: uppercase;
}
body{
    background-image: url(img.jpg);
}
header{
    background-color:transparent;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: Georgia, serif;
}

.hr{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: Georgia, serif;
}

i{
    padding-right: 5px;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    color: rgb(176, 16, 40);
}
p{
    font-size: 25px;
    justify-content: center;
    align-items: center;
}

form{
    height: 300px;
    width: 700px;
    margin-left: 410px;
    margin-top: 100px;
    border-radius: 1rem;
    background-color: #FA8072;
    opacity: 0.9;
}
.label{
    padding-top:9px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
}
.box{
    padding-top: 100px;
    justify-content: space-evenly;
    display: flex;
    gap: 1px;
}
input,select{
    border-radius: 5px;
    width: 252px;
    height: 1.5rem;
}
#conversionResult{
    width: 450px;
    margin-left:190px;
    font-size: 1.2rem;
    color:black;
    padding-top: 25px;
}